<?xml version="1.0" encoding="utf-8" ?>
<sqline xmlns="http://sqline.net/schemas/config.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://sqline.net/schemas/config.xsd http://sqline.net/schemas/config.xsd">
  <configuration>
    <connectionstring value="Server=localhost\SQLEXPRESS;Database=SqlineTests;User Id=sqline;Password=1234;" />
    <projecthandler namespace="Sqline.Tests.DataAccess" name="DAHandler" />
    <viewitems namespace="Sqline.Tests.DataAccess.ViewItems" prefix="" postfix="">
    </viewitems>
    <dataitems namespace="Sqline.Tests.DataAccess.DataItems" />
    <methods namespace="Sqline.Tests.DataAccess" timeout="30">
    </methods>
  </configuration>
</sqline>