<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TestDB_SqlServer" connectionString="Server=localhost\SQLEXPRESS;Database=SqlineTests;User Id=sqline;Password=1234;" />
    <add name="TestDB_PostgreSql" connectionString="Server=localhost;Database=SqlineTests;User Id=sqline;Password=1234;" />
  </connectionStrings>
</configuration>