<?xml version="1.0" encoding="utf-8" ?>
<sqline xmlns="http://sqline.net/schemas/config.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://sqline.net/schemas/config.xsd http://sqline.net/schemas/config.xsd">
  <configuration>
    <connectionstring value="your connection string" />
    <projecthandler namespace="$safeprojectname$" name="DAHandler" />
    <viewitems namespace="$safeprojectname$.ViewItems" prefix="" postfix="">
    </viewitems>
    <dataitems namespace="$safeprojectname$.DataItems" />
    <methods namespace="$safeprojectname$" timeout="30">
    </methods>
  </configuration>
</sqline>